html {
    background: radial-gradient(ellipse at top, #67f3f8, transparent), radial-gradient(ellipse at bottom, #1b9cc4, transparent);
}

html::after,
html::before {
    content: '';
    position: fixed;
    display: block;
    background-color: rgb(138, 225, 233);
    border-radius: 50%;
    width: 100vmin;
    height: 100vmin;
    z-index: -1;
    box-shadow: inset 12px 10px 80px wheat;
}

html::before {
    top: -500px;
    left: -300px;
}

html::after {
    bottom: -500px;
    right: -300px;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    font-family: sans-serif;
}

.card {
    width: 300px;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
}

.card__header {
    background-image: url(../assets/images/pattern.svg);
    height: 115px;
    position: relative;
}

.card__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    border: 3px solid whitesmoke;
    background-color: whitesmoke;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 135px;
    padding-top: 10px;
    /* background-color: red; */
}

.card__text {
    margin: 0;
    line-height: 1.5;
}

.card__text--light {
    color: grey;
    font-weight: normal;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}

.card__stats {
    width: 100%;
    text-align: center;
}

.card__number {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 1.5;
}

img {
    height: 100px;
}